<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Extended CovScript 1.3.0 Patch 2" Language="1033" Version="1.3.0.2" Manufacturer="Covariant Script Organization" UpgradeCode="EE550103-C236-7774-F9F1-EE39E951DD57">
        <Package Id="*" Keywords="Extended CovScript" Description="Extended Covariant Script Runtime" Platform="x86" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade
            AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed."
        />

        <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

        <Feature Id="ExtendedCovScript" Title="Extended Covariant Script" Level="1">
            <ComponentGroupRef Id="Package" />
        </Feature>

        <Icon Id="icon.ico" SourceFile="SourceDir\icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_FeatureTree" />
        <WixVariable Id="WixUILicenseRtf" Value="SourceDir\License.rtf" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="CovScript" />
            </Directory>
        </Directory>
    </Product>

    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmpB4FFD1BB7CD8AC154FC373A13D47AA8A" Guid="{4D6D907D-F4A2-4E55-B169-F325D76B9418}">
                <File Id="fil503417FDED5ED7A7817C11BF96165DCF" KeyPath="yes" Source="SourceDir\ecs.csc" />
            </Component>
            <Directory Id="dir11BCA06581A1B17E4829B65BB6425759" Name="bin">
                <Component Id="cmpF0213B6DC1F50615A620363429AEE87D" Guid="{0BF329EA-5A87-4CA6-8DE3-D531BDC06EAA}">
                    <File Id="filB86D7B19E7CCEFB24A5B73BCB205D657" KeyPath="yes" Source="SourceDir\bin\ecs.bat" />
                </Component>
            </Directory>
            <Directory Id="dir0238AE90E479E4A3F2C6B909776108EE" Name="imports">
                <Component Id="cmp59A039BFDA24991902A5A1CFDE73114D" Guid="{54571DEF-E5A4-44BE-B4E1-D211E80061BB}">
                    <File Id="filE684D2B4C8F7B1D658BA2634EF1A6145" KeyPath="yes" Source="SourceDir\imports\ecs.csp" />
                </Component>
                <Component Id="cmp5CD97C752A31C276013FE995A72EC949" Guid="{93ABD21B-DF4A-4A6C-8222-7DDC6A1A080A}">
                    <File Id="filFE3288F26E17D5CF7B11CDA49E693D0A" KeyPath="yes" Source="SourceDir\imports\ecs_generator.csp" />
                </Component>
                <Component Id="cmp4539E6D04EAC30762EDEE4DD7959133C" Guid="{346E5959-6542-4E56-AAF1-FEB469522D79}">
                    <File Id="fil1C179BDA1CBBCDC0220B62CB1523CCC7" KeyPath="yes" Source="SourceDir\imports\ecs_parser.csp" />
                </Component>
                <Component Id="cmpFBACD42EE9447EDEA60F9E31DB15210A" Guid="{A17ECBEA-F16E-4FCA-A576-E1E352A35D2B}">
                    <File Id="fil010EC58A63DA8EB67702C3D716EF6B59" KeyPath="yes" Source="SourceDir\imports\parsergen.csp" />
                </Component>
                <Component Id="cmpE8307B62E6873BA1EA8C3EC7DAD4F1A9" Guid="{A428429C-D5FC-4981-BAA0-B6E3FC3C9836}">
                    <File Id="filFBEB09BBDB8566B4E904F3295BFCF301" KeyPath="yes" Source="SourceDir\imports\sdk_extension.cse" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Package">
            <ComponentRef Id="cmpB4FFD1BB7CD8AC154FC373A13D47AA8A" />
            <ComponentRef Id="cmpF0213B6DC1F50615A620363429AEE87D" />
            <ComponentRef Id="cmp59A039BFDA24991902A5A1CFDE73114D" />
            <ComponentRef Id="cmp5CD97C752A31C276013FE995A72EC949" />
            <ComponentRef Id="cmp4539E6D04EAC30762EDEE4DD7959133C" />
            <ComponentRef Id="cmpFBACD42EE9447EDEA60F9E31DB15210A" />
            <ComponentRef Id="cmpE8307B62E6873BA1EA8C3EC7DAD4F1A9" />
        </ComponentGroup>
    </Fragment>
</Wix>